{% extends 'layout.html' %}
{% block body %}
<div class="row-fluid">
    <h3>Get your tweet on!!!</h3>
    <p>
        Ever wondered who is more likely to say that tweet ??? Or, that sounds like what <a
            href="https://twitter.com/elonmusk">@elonmusk</a>😎 would say ?
    </p>
    <p>
        Why not try out <b>TwitOff</b>???
        <br>
        Compare your <em>tweets vs. your favorite celebrity</em> and see how close your thoughts are compared to theirs
        ?
    </p>
    <a class="btn btn-info" href="/predictions" role="button">Try now! 🗪</a>
</div>
{% endblock %}