{% extends 'layout.html' %}

{% block head %}
<title>TwitOff!</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="/static/img/logo.png" width="45" height="45" alt=""> TwitOff</a>
</nav>
{% endblock %}


{% block body %}
<div class="row">
    <div class="column">
        <h1>TwitOff!</h1>
        <p>Content for TwitOff will go here...</p>
        <ul>
            {% for user in users %}
            <li>{{ user.handle }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}