{% extends "layout.html" %}

{% block body %}

<section class="twitoff-section">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">TwitOff 🗪</h1>
                <p class="lead">TwittOff is a machine learning app that predicts the Twitter author of any given text.
                    Choose two twitter users, enter some text, and TwittOff will predict which user is most likely to
                    tweet
                    something similar.</p>
                <hr class="my-4">
                <p>When a new user gets added to the database, the <a
                        href="https://en.wikipedia.org/wiki/Word_embedding">word
                        embeddings</a> of their tweets
                    are obtained via <a href="https://www.basilica.ai/">Basilica</a>. When the comparison is run, a
                    logistic
                    regression determines
                    the most likely author.</p>


            </div>
        </div>
        <div class="col">
            <div>
                <h3 class="form-header">Compare Users</h3>
                <form action="/compare" method="post" id="compare_form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <select class="form-control" name="user1" required>
                                <option disabled selected>User 1</option>
                                {% for user in users %}
                                <option value="{{ user.handle }}">{{ user.handle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control" name="user2" required>
                                <option disabled selected>User 2</option>
                                {% for user in users %}
                                <option value="{{ user.handle }}">{{ user.handle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <textarea class="form-control" rows="3" name="tweet_text"
                                placeholder="Enter your Tweet here..." required></textarea>
                        </div>
                    </div>
                    <div class="form-actions text-center">
                        <input class="btn btn-info mb-2 comp-btn" type="submit" value="Compare Users">
                    </div>

                </form>
            </div>
            <div class="row compare-result">


            </div>
        </div>
    </div>
</section>
<section class="users-section">
    <div class="manage-users-container d-flex justify-content-between">
        <h3 class="h3">Manage Users</h3>
        <button type="button" class="btn btn-info">Add Users</button>
    </div>
    <div class="user-cards-container d-flex flex-wrap justify-content-center">
        <div class="user-card">
            <div class="user-card-top d-flex justify-content-between">
                <div class="user-img-container">
                    <img src="https://pbs.twimg.com/profile_images/542459287868436480/mnyvxk3o_normal.jpeg" alt=""
                        class="user-img">
                </div>
                <div class="user-btn-container">
                    <button type="button" class="btn btn-outline-info btn-sm">Delete Me</button>
                </div>
            </div>
            <div class="user-card-bottom">
                <p class="card-info"><strong>Austen Allred</strong></p>
                <p class="text-muted card-info">@austen</p>
                <p class="text-muted card-info"><span class="user-stats">832</span> Following <span
                        class="user-stats">120.9K</span> Followers</p>
            </div>
        </div>
        <div class="user-card">
            <div class="user-card-top d-flex justify-content-between">
                <div class="user-img-container">
                    <img src="https://pbs.twimg.com/profile_images/542459287868436480/mnyvxk3o_normal.jpeg" alt=""
                        class="user-img">
                </div>
                <div class="user-btn-container">
                    <button type="button" class="btn btn-outline-info btn-sm">Delete Me</button>
                </div>
            </div>
            <div class="user-card-bottom">
                <p class="card-info"><strong>Austen Allred</strong></p>
                <p class="text-muted card-info">@austen</p>
                <p class="text-muted card-info"><span class="user-stats">832</span> Following <span
                        class="user-stats">120.9K</span> Followers</p>
            </div>
        </div>
        <div class="user-card">
            <div class="user-card-top d-flex justify-content-between">
                <div class="user-img-container">
                    <img src="https://pbs.twimg.com/profile_images/542459287868436480/mnyvxk3o_normal.jpeg" alt=""
                        class="user-img">
                </div>
                <div class="user-btn-container">
                    <button type="button" class="btn btn-outline-info btn-sm">Delete Me</button>
                </div>
            </div>
            <div class="user-card-bottom">
                <p class="card-info"><strong>Austen Allred</strong></p>
                <p class="text-muted card-info">@austen</p>
                <p class="text-muted card-info"><span class="user-stats">832</span> Following <span
                        class="user-stats">120.9K</span> Followers</p>
            </div>
        </div>
        <div class="user-card">
            <div class="user-card-top d-flex justify-content-between">
                <div class="user-img-container">
                    <img src="https://pbs.twimg.com/profile_images/542459287868436480/mnyvxk3o_normal.jpeg" alt=""
                        class="user-img">
                </div>
                <div class="user-btn-container">
                    <button type="button" class="btn btn-outline-info btn-sm">Delete Me</button>
                </div>
            </div>
            <div class="user-card-bottom">
                <p class="card-info"><strong>Austen Allred</strong></p>
                <p class="text-muted card-info">@austen</p>
                <p class="text-muted card-info"><span class="user-stats">832</span> Following <span
                        class="user-stats">120.9K</span> Followers</p>
            </div>
        </div>
        <div class="user-card">
            <div class="user-card-top d-flex justify-content-between">
                <div class="user-img-container">
                    <img src="https://pbs.twimg.com/profile_images/542459287868436480/mnyvxk3o_normal.jpeg" alt=""
                        class="user-img">
                </div>
                <div class="user-btn-container">
                    <button type="button" class="btn btn-outline-info btn-sm">Delete Me</button>
                </div>
            </div>
            <div class="user-card-bottom">
                <p class="card-info"><strong>Austen Allred</strong></p>
                <p class="text-muted card-info">@austen</p>
                <p class="text-muted card-info"><span class="user-stats">832</span> Following <span
                        class="user-stats">120.9K</span> Followers</p>
            </div>
        </div>
        <div class="user-card">
            <div class="user-card-top d-flex justify-content-between">
                <div class="user-img-container">
                    <img src="https://pbs.twimg.com/profile_images/542459287868436480/mnyvxk3o_normal.jpeg" alt=""
                        class="user-img">
                </div>
                <div class="user-btn-container">
                    <button type="button" class="btn btn-outline-info btn-sm">Delete Me</button>
                </div>
            </div>
            <div class="user-card-bottom">
                <p class="card-info"><strong>Austen Allred</strong></p>
                <p class="text-muted card-info">@austen</p>
                <p class="text-muted card-info"><span class="user-stats">832</span> Following <span
                        class="user-stats">120.9K</span> Followers</p>
            </div>
        </div>
        <div class="user-card">
            <div class="user-card-top d-flex justify-content-between">
                <div class="user-img-container">
                    <img src="https://pbs.twimg.com/profile_images/542459287868436480/mnyvxk3o_normal.jpeg" alt=""
                        class="user-img">
                </div>
                <div class="user-btn-container">
                    <button type="button" class="btn btn-outline-info btn-sm">Delete Me</button>
                </div>
            </div>
            <div class="user-card-bottom">
                <p class="card-info"><strong>Austen Allred</strong></p>
                <p class="text-muted card-info">@austen</p>
                <p class="text-muted card-info"><span class="user-stats">832</span> Following <span
                        class="user-stats">120.9K</span> Followers</p>
            </div>
        </div>
        <div class="user-card">
            <div class="user-card-top d-flex justify-content-between">
                <div class="user-img-container">
                    <img src="https://pbs.twimg.com/profile_images/542459287868436480/mnyvxk3o_normal.jpeg" alt=""
                        class="user-img">
                </div>
                <div class="user-btn-container">
                    <button type="button" class="btn btn-outline-info btn-sm">Delete Me</button>
                </div>
            </div>
            <div class="user-card-bottom">
                <p class="card-info"><strong>Austen Allred</strong></p>
                <p class="text-muted card-info">@austen</p>
                <p class="text-muted card-info"><span class="user-stats">832</span> Following <span
                        class="user-stats">120.9K</span> Followers</p>
            </div>
        </div>
    </div>
    </div>
</section>









{% endblock %}