/* Top Section */
.twitoff-section {

    padding: 2rem;
    background-color: #289fa3;
}

.form-header {
    color: white;
}

.comp-btn {
    background-color: #e8f3f4;
    color: black;
}

.comp-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

/* Users Section */
.users-section {

    padding: 2rem;
}

/* User Card */
.user-card {
    /* border: 2px solid red;  */
    width: 282px;
    height: 175px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-right: 31px;
    margin-bottom: 31px;
}

.user-card:hover {
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    transform: translateY(-1px);
}

.user-card-top {
    height: 70px;

}

.user-img {
    border-radius: 50%;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.user-stats {
    color: black;
    font-weight: bold;

}

.card-info {
    margin: 0px;
    font-size: 13px;
}

.card-info:last-child {
    margin-top: 15px;
}

/* Tweet Modal */

#pill-container .user-stats{
    color: white;
}

#user-tweets .tweet-text-item{
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #289FA3;
    color: white;
}

#pill-container p:first-child{
    margin-right: 10px;
}


/* Footer */

footer {
    background-color: #1b212c;

}

.footer-holder {
    padding: 2.25rem 1.25rem;
}

.footer-logo {
    margin-top: 0.5rem;
}


.footer-social-icons a {
    color: rgb(226, 236, 235);
}


.footer-social-icons {
    font-size: 3rem;
}

/* 404 Not Found */
#notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }
  
  .notfound .notfound-404 {
    height: 190px;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 146px;
    font-weight: 700;
    margin: 0px;
    color: #232323;
  }
  
  .notfound .notfound-404 h1>span {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-image: url('../img/emoji.png');
    background-size: cover;
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
    z-index: -1;
  }
  
  .notfound h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: #232323;
  }
  
  .notfound p {
    font-family: 'Montserrat', sans-serif;
    color: #787878;
    font-weight: 300;
  }
  
  .notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 12px 30px;
    font-weight: 700;
    background-color: #289FA3;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    opacity: 0.8;
  }
  
  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 115px;
    }
    .notfound .notfound-404 h1 {
      font-size: 86px;
    }
    .notfound .notfound-404 h1>span {
      width: 86px;
      height: 86px;
    }
  }
  